// Define variables for reusable colors and breakpoints
$primary-color: #a0c065;
$secondary-color: #6c757d;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

// Global styles
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  .heading {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    font-size: 24px;
    color: $primary-color;
    margin-bottom: 20px;
  }
  h4 {
    font-size: 19px;
    color: $primary-color;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    th,
    td {
      padding: 24px;
      text-align: left;
    }

    th {
      background-color: $primary-color;
      color: white;
    }

    td {
      border-top: 1px solid #dee2e6;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    @media (max-width: $breakpoint-sm) {
      font-size: 14px;

      th,
      td {
        padding: 8px;
      }
    }

    @media (max-width: $breakpoint-md) {
      font-size: 12px;
    }
  }
}
